API_PORT=3000

JWT_AT_SECRET=jwt-secret
JWT_AT_MAX_AGE_S=3600

JWT_RT_SECRET=jwt-refresh-secret
JWT_RT_MAX_AGE_S=604800

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nest_task3_db

RABBITMQ_URL=amqp://user:password@message-broker
RABBITMQ_PREFETCH=10
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672

WORKER_ENABLE=true
WORKER_RETRIES=3
WORKER_BACKOFF_S=5

NODE_ENV=development
API_BASE_URL=http://localhost:3000

# For concurrency test
PRODUCT_ID=
REQUESTS_COUNT=
