DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nest_task3_db

RABBITMQ_URL=amqp://user:password@localhost
RABBITMQ_PREFETCH=10
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672

NODE_ENV=development
API_BASE_URL=http://localhost:3000

# For concurrency test
USER_ID=
PRODUCT_ID=
REQUESTS_COUNT=
